doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 Hoom!
        main
            div#welcome
                form
                    input(placeholder="room name", required, type="text")
                    button(type="submit") Enter Room
        script(src="/socket.io/socket.io.js")
        //- socket.io는 브라우저 내장이 아니라 외부 라이브러리라 클라이언트도 설치
        script(src="/public/js/app.js")